/* zerar configurações iniciais dos elementos */
/* zerando valores */
*{ margin: 0; padding: 0; border: 0; }

body{
    text-align: center;
    padding: 100px 0 0 0;
    color: #fff;
    background: #1d1f20;
}

/* navegação */
nav{
    background-color: #344955;
    width: 100%;
    height: 50px;
}

/* links */
a{  
    text-decoration: none;
    padding-left: 35px;
    color: white;
    font: 50px;
}

/* texto  */
.textoTutorial { 
    text-align: center;
    padding-top: 20px;
    font: 30px Helvetica;
}

/* título */
h1{
    font: 40px Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 60px;
}

/* sub-título */
h2{
    font: 40px Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 150px;
    margin-bottom: 100px;
}

/* sub-título */
h3{
    font: 40px Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* id da imagem */
#loading {
    -webkit-animation: rotation 2s infinite linear;
}

/* Fazer com que a imagem fique rodando infinito */
@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
       -webkit-transform: rotate(359deg);
    }
}

/* aspectos visuais */
.panel{
    width: 325px;
    height: 355px;
    border-radius: 200px;
}

/* tela inicial do jogo */
.modal{
    position: absolute;
    transition: all 0.5s;  /*característica de transição que leva meio segundo*/
}

/* setar imagem a tela inicial */
#telaInicial{
    background-image: url('../images/intro.png') ;
    opacity: 0.70; /*recebendo valor 1 pra ser mudado ao final do jogo*/
    z-index: 1; /*recebendo valor 1 pra ser mudado ao final do jogo*/
}


/* tela de fim de jogo */
#telaFinal{
    background: url('../images/win.png');
    opacity: 0; /*recebendo valor 0 pra começar jogo invísivel*/
    z-index: -1; /*recebendo valor -1 pra vim pra frente quando finalizar jogo*/
}

/* tabuleiro */
#container{
    position: relative;
    margin: auto;
    background-color: #000;
    border: outset #0f0; /*outset -> projeta elemento pra fora. Auto relevo -> #0f0 50px*/
    box-shadow: -200px -20px 500px rgba(0, 255, 0, 0.5);
}

/* peças do jogo */
.peca{
    width: 90px; 
    height: 90px;
    position: absolute;
    transition: left 0.5s, top 0.5s; /* transição vai ser suavizada quando houver transição dos elementos à esquerda e topo */
}

/* animação ao passar mouse em cima do elemento */
.peca:hover{
    border: inset; /* oposto ao outset -> sensação de baixo relevo */
    border-radius: 50px;
}

/* #desenvolvedor{ text-align: center; color: white; padding-top: 50px; } */

footer{
    margin-top: 100px;
    background-color: #344955;
    width: 100%;
    height: 200px;
    clear: both;
    display: block;
}
